
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
font: normal normal 13px/16px "Open Sans", sans-serif;
background: #2d2d2a;
}

.container{
padding: 20px;
width: 300px;
margin: 0 auto;
margin-top: 40px;
background: #889c9a;
color: #2d2d2a;
}

form {
display: inline-block;
}

input{
padding: 4px 15px 4px 5px;
background-color: #cbd8cf;
}

#button{
display: inline-block;
background-color:#2f8d5e;
color:#cbd8cf;
border-radius: 3px;
border-color: #38423B;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

#button:hover{
cursor: pointer;
opacity: .6;}

ol {padding-left: 20px;}

ol li {padding: 5px;color:#000;}

ol li:nth-child(even){
    background: #748579;
    color: #cbd8cf;
}

.strike{
    text-decoration: line-through;
    color: #cbd8cf;
}

li:hover{
  cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
    color: #20fc8f;
	font-weight: 800;
}